.body   {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.gray {
    color: #A1A1A1;
}

.light-blue {
    color: #007AFF;
}

.navbar {
    display: flex;
    justify-content: end;
    width: 100%;
    height: 70px;
    overflow: hidden;
}

.search-box {
    width: 250px;
    margin: 7.5px 20px;
    padding: 5px 15px;
    border: 1px solid #ccc;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-data {
    display: flex;
    align-items: center;
    padding: 0px 20px 0px 0px;
    gap: 15px;
}

.sidebar-left {
    width: 15%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #343C4D;
}

.pages-linkage {
    height: 90vh;
    overflow-y: auto;
}

.pages-linkage::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}

.pages-linkage .bttn:hover {
    background-color: #424344;
    color: #fff;
}

.sidebar-right {
    width: 85%;
    height: calc(100vh - 70px);
    overflow-y: auto;
    position: absolute;
    top: 40;
    right: 0;
    padding: 10px;
    background-color: #f0f5f8;
}

.dashboard {
 padding: 20px;
}

.overview {
 border-radius: 8px;
 padding: 20px;
}

.overview-head {
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    text-align: center;
    color: #1C212D;
    font-weight: 600;
    margin-bottom: 10px;
}

.add-button {
    font-weight: 600;
    font-size: 12;
    color: #FFFFFF;
}

.new-admission-dashboard {
    padding: 20px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.new-admission-dashboard:hover {
    transform: scale(1.1); 
}

.box-group{
    
}

.box-first {
    color: #1C212D;
    font-weight: 600;
    font-style: bold;
}

.purple {
    color: #7325B4;
}

.text {
    font-weight: 700;
    color:#1C212D;
}

.percent{
    background-color: rgba(255, 255, 255, 0.356);
    border-radius: 30px;
    padding: 0px 5px;
}

.form-select:focus {
  border: none;
  outline: none;
  background: transparent;
}
@media (min-width: 770px) {
    .link-head {
        font-size: 7px;
    }
}

@media (min-width: 1100px) {
    .link-head {
        font-size: 10px;
    }
}

@media (min-width: 1440px) {
    .link-head {
        font-size: 16px;
    }
}
