.body   {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.sidebar {
    display: flex;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.sidebar-left {
    width: 20%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    background-color: #343C4D;
}

.sidebar-right {
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 20px;
}

.overview {
 border-radius: 8px;
 background-color: #f4f4f4;
}

.overview-head {

}