.body   {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.gray {
    color: #A1A1A1;
}

.light-blue {
    color: #007AFF;
}

.navbar {
    display: flex;
    justify-content: end;
    width: 100%;
    height: 70px;
}

.search-box {
    width: 250px;
    margin: 7.5px 20px;
    padding: 5px 15px;
    border: 1px solid #ccc;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-data {
    display: flex;
    align-items: center;
    padding: 0px 20px 0px 0px;
    gap: 15px;
}

.sidebar-left {
    width: 15%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    background-color: #343C4D;
}

.sidebar-right {
    width: 85%;
    height: auto;
    overflow-y: auto;
    position: absolute;
    top: 40;
    right: 0;
    padding-top: 20px;
}

.overview {
 border-radius: 8px;
 background-color: #f4f4f4;
}

.overview-head {

    padding: 20px;
    background-color: #f4f4f4;
}